<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZVWNWNAduXf1iIUAMH8u4HEZWrC2i-KY</string>
	<key>GCM_SENDER_ID</key>
	<string>1025274813231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omnip.app</string>
	<key>PROJECT_ID</key>
	<string>corailfactory</string>
	<key>STORAGE_BUCKET</key>
	<string>corailfactory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025274813231:ios:9460836e003dccd911dfda</string>
</dict>
</plist>
